.cp-hp-main_container {
  display: flex;
  //align-items: center;
  //justify-content: center;
  flex-direction: row;
  color: white;
  height: 100%;
  width: 100%;
  background-color: #256d7b;
}

.cp-hp-main_container-header {
  font-family: serif;
  font-size: 40px;
  color: #f5f5f5;
  margin: 30px 0;
  width: 100%;
}

.cp-hp-list_reg_users {
  display: flex;

  //background-color: white;
}

.cp-hp-list_reg_users-item {
  display: flex;
}

.cp-hp-item_list-body {
  width: 100%;
  border: 1px solid #cccccc;
  color: black;

  & > *:nth-child(2n + 1) {
    background-color: white;
  }
  & > *:nth-child(2n + 0) {
    background-color: wheat;
  }
}

//================== workpanel ==========================
.cp-hp-workpanel {
  display: flex;
  flex-direction: column;
  width: 60%;
  height: 100%;
}

//================= user_info ================================
.cp-hp-user_info {
  display: flex;
  flex-direction: column;
  //align-items: center;
  //justify-content: center;
  width: 40%;
  height: 100%;
}

.cp-hp-user_info-username {
  //display: flex;
  text-align: center;
  width: calc(100% - 40px);
  font-size: 26px;
  margin: 20px;
}
.cp-hp-user_info-avatar {
  display: flex;
  width: calc(100% - 40px);
  margin: 20px;
  justify-content: center;

  & > img {
    width: 100%;
    max-width: 270px;
  }
}

.cp-hp-user_info-request_btn {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin: 10px;
  & div:not(:last-child) {
    margin-bottom: 10px;
  }
}

.cp-hp-request_btn-btn {
  width: 100%;
  max-width: 200px;
  margin: 0 10px;
  height: 40px;
  border: 1px solid rgb(46, 62, 110);
  background-color: blanchedalmond;
  display: flex;
  justify-content: center;
  align-items: center;
  color: black;
  &:hover {
    background-color: orange;
    cursor: pointer;
  }
}

//================= workpannel_change_pwd ================================
.cp-hp-workpanel-change_pwd {
  display: flex;
  align-items: center;
  flex-direction: column;
  width: 100%;
  margin: 10px;
  & *:not(:last-child) {
    margin-bottom: 10px;
  }
}
.cp-hp-change_pwd-input {
  width: calc(100% - 20px);
  height: 25px;
  max-width: 300px;
  margin: 0 10px;
}

.cp-hp-change_pwd-btn {
  @extend .cp-hp-request_btn-btn;
}

//================= render_Work_Panel_Admin ================================
.cp-hp-admin_workpanel-user_list {
  width: calc(100% - 20px);
  margin: 10px;
  color: black;
  background-color: #cccccc;
  border: 1px solid #cccccc;

  & > *:nth-child(2n + 1) {
    background-color: inherit;
  }
  & > *:nth-child(2n + 0) {
    background-color: #ececec;
  }
}
.cp-hp-item_list-header {
  display: flex;
  flex-direction: row;
  width: 100%;
  //justify-content: center;
  //align-items: center;
}

.cp-hp-user_list-item {
  display: flex;
  flex-direction: row;
  width: 100%;
}

.cp-hp-user_list-item_title {
  display: flex;
  width: 30%;
}
.cp-hp-user_list-item_info {
  display: flex;
  width: 70%;
}

//================= render_Work_Panel_USER ================================
.cp-hp-user_workpanel-file_list {
  @extend .cp-hp-admin_workpanel-user_list;
  & > div:not(:last-child) {
    border-bottom: 1px solid black;
  }
}
.cp-hp-user_workpanel-header {
  display: flex;
  font-size: 23px;
  justify-content: center;
  flex-direction: row;
  width: 100%;
}

.cp-hp-file_list-item {
  display: flex;
  flex-direction: row;
  width: 100%;
}

.cp-hp-file_list-item_title {
  display: flex;
  align-items: center;
  width: calc(100% - 35px);
  margin-left: 5px;
}
.cp-hp-file_list-item_info {
  display: flex;
  width: 30px;
  & img {
    display: flex;
    width: 30px;
  }
}

.cp-hp-user_workpanel-btn_load_file {
  @extend .cp-hp-request_btn-btn;
}
