.cp-ua-auth_form {
  display: flex;
  align-items: center;
  justify-content: center;
  text-align: center;
  flex-direction: column;
  height: 50%;
  width: 50%;
  max-width: 400px;
}

.cp-ua-auth_main_container {
  display: flex;
  align-items: center;
  justify-content: center;
  height: 100%;
  width: 100%;
  background-color: #256d7b;
}

.cp-ua-auth_form-header {
  display: flex;
  font-family: fantasy;
  font-size: 40px;
  color: #f5f5f5;
}

.cp-ua-auth_form-input_email {
  width: calc(100% - 20px);
  display: flex;
  margin: 10px;
  height: 25px;
}

.cp-ua-auth_form-input_password {
  width: calc(100% - 20px);
  display: flex;
  margin: 10px;
  height: 25px;
}
.cp-ua-auth_form-btn_login {
  width: 200px;
  height: 40px;
  border: 1px solid rgb(46, 62, 110);
  background-color: blanchedalmond;
  margin-bottom: 20px;
  display: flex;
  justify-content: center;
  align-items: center;
  color: black;
  &:hover {
    background-color: orange;
    cursor: pointer;
  }
}
